<div class="content">
  <img src="../assets/img/angular.png" />
  <h1>
    Hello World Angular Firebase!!
  </h1>
  <h2>
    Firebase data below...
  </h2>
  <div>
    <ng-container *ngFor="let data of testData | async">
      <div>
        <p>
          <span>Name: </span>{{ data.name }}</p>
      </div>
      <div>
        <p>
          <span>Type: </span>{{ data.type }}</p>
      </div>
      <div>
        <p>
          <span>Body Name: </span>{{ data.body.name }}</p>
      </div>
    </ng-container>
  </div>
</div>